<mat-sidenav-container responsive="show" class="sidenav-container">
  <mat-sidenav position="end" #drawer mode="over" [opened]="false">
    <div responsive="show" class="close-icon"> <!--for small screens-->
      <button mat-icon-button (click)="closeNav()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/home"
         aria-label="Link do strony głównej" (click)="closeNav()">Strona główna
      </a>
      <a mat-list-item routerLink="/oAplikacji"
         aria-label="Link do strony z informacją na temat aplikacji" (click)="closeNav()">O aplikacji
      </a>
      <a mat-list-item routerLink="/kontakt"
         aria-label="Link do strony z danymi kontaktowymi autorów aplikacji" (click)="closeNav()">Kontakt
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <navbar (_openNav)="openNav()"></navbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
