<form #form="ngForm">
  <mat-form-field class="search-term-input-width">
    <mat-label>Wyszukiwana fraza po polsku</mat-label>
    <input
      required
      matInput
      type="text"
      name="query"
      [(ngModel)]="query">
    @if (query) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="query=''">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <mat-form-field class="select-distance select-width">
    <mat-label>Przetłumacz wyszukiwaną frazę na</mat-label>
    <mat-select
      required
      name="langCode"
      [ngModel]="">
      @for (language of languages; track language.languageValue) {
        <mat-option [value]="language.languageValue">{{ language.languageViewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="select-distance select-width">
    <mat-label>Lokalizacja stron z wyników szukania</mat-label> <!--todo: mandatory?-->
    <mat-select
      required
      name="countryCode"
      [ngModel]="">
      @for (country of countries; track country.countryValue) {
        <mat-option [value]="country.countryValue">{{ country.countryViewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button mat-raised-button class="btn" (click)="handleSubmitSearchData(form)">Szukaj</button>
</form>

<div class="header">Tłumacznie znalezionych stron na polski:</div> <!--todo: after submitting the form add from which lanugage -->

<mat-tab-group class="tabs-container">
  @for (page of translatedPages; track page) {
    <mat-tab label="Strona">
      <div [innerHTML]="page"></div>
    </mat-tab>
  }
</mat-tab-group>
