mat-sidenav-container {
  background-color: #fff;
  height: 100vh;
}

mat-sidenav {
  background: #fff;
  width: 11em;
  height: 100%;
}

.close-icon {
  text-align: right;
  margin: 0.5rem 0.25rem 0 0;
}

