<form #form="ngForm">
  <mat-form-field class="search-term-input-width">
    <mat-label>Wyszukiwana fraza po polsku</mat-label>
    <input matInput type="text" name="searchTerm" [(ngModel)]="searchTerm">
    @if (searchTerm) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <mat-form-field class="select-distance select-width">
    <mat-label>Przetłumacz wyszukiwaną frazę na</mat-label>
    <mat-select name="language" [(ngModel)]="selectedLanguage">
      @for (language of languages; track language.languageValue) {
        <mat-option [value]="language.languageValue">{{ language.languageViewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="select-distance select-width">
    <mat-label>Lokalizacja stron z wyników szukania</mat-label> <!--todo: this must not be mandatory-->
    <mat-select name="country" [(ngModel)]="selectedCountry">
      @for (country of countries; track country.countryValue) {
        <mat-option [value]="country.countryValue">{{ country.countryViewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button mat-raised-button class="btn">Szukaj</button>
</form>

<div class="header">Tłumacznie znalezionych stron na polski:</div> <!--todo: after submitting the form add from which lanugage -->

<mat-tab-group class="tabs-container">
  <mat-tab label="Strona 1">Tłumacznie strony 1</mat-tab>
  <mat-tab label="Strona 2">Tłumaczenie strony 2</mat-tab>
  <mat-tab label="Strona 3">Tłumaczenie strony 3</mat-tab>
  <mat-tab label="Strona 4">Tłumaczenie strony 4</mat-tab>
  <mat-tab label="Strona 5">Tłumaczenie strony 5</mat-tab>
  <mat-tab label="Strona 6">Tłumaczenie strony 6</mat-tab>
  <mat-tab label="Strona 7">Tłumaczenie strony 7</mat-tab>
  <mat-tab label="Strona 8">Tłumaczenie strony 8</mat-tab>
  <mat-tab label="Strona 9">Tłumaczenie strony 9</mat-tab>
  <mat-tab label="Strona 10">Tłumaczenie strony 10</mat-tab>
</mat-tab-group>
