.about {
  /*margin-top: var(--formMarginTop);*/
  /*margin-left: var(--transaltionMargin2rem);*/
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 40%;
  margin-top: var(--formMarginTop);
  margin-left: auto;
  margin-right: auto;
  //font-size: 1.25em;
  //text-align: center;
}
