.about {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: clamp(320px, 40%, 800px);
  margin-top: var(--formMarginTop);
  margin-left: auto;
  margin-right: auto;
  &-section {
    line-height: 2em;
  }
}

.mdc-button {
  max-width: 7.5em;
  justify-content: left !important;
}
