<navbar></navbar>

<div class="about">
  <div class="about-section">
    Poliglotek został stworzony by zabrać Cię w najbardziej egzotyczne zakamrki internetu.
    Nie władasz jeszcze biegle chińskim, jidysz czy keczua? Żaden problem! Nasza aplikacja umożliwi Ci
    poznanie treści obcojęzycznych stron internetowych, tłumacząc je na polski.
  </div>
  <div class="about-section">Jak to działa?
    <ol>
      <li>Wpisz wyszukiwaną frazę po polsku.</li>
      <li>Wybierz język, w którym chcesz danej frazy szukać.</li>
      <li>Wybierz kraj, z którego chcesz otrzymać wyniki stron.</li>
      <li>Kliknij "Szukaj" i poczekaj aż Poliglotek dostarczy Ci przetłumaczone strony.</li>
    </ol>
  </div>
  <button mat-button (click)="openDisclaimerDialog()">Zastrzeżenie</button>
</div>

<router-outlet></router-outlet>
