<div class="about" aboutResponsive>
  <div class="about-section">
    Poliglotek został stworzony by zabrać Cię w najbardziej egzotyczne zakamrki internetu.
    Nie władasz jeszcze biegle chińskim, jidysz czy keczua? Żaden problem! Nasza aplikacja umożliwi Ci
    poznanie treści obcojęzycznych stron internetowych, tłumacząc je na polski.
  </div>
  <div class="about-section">Jak to działa?
    <ol>
      <li>Wpisz szukaną frazę po polsku.</li>
      <li>Wybierz język, w którym chcesz danej frazy szukać.</li>
      <li>Wybierz kraj, z którego chcesz otrzymać wyniki stron.</li>
      <li>Kliknij "Szukaj" i poczekaj aż Poliglotek dostarczy Ci przetłumaczone strony.</li>
    </ol>
  </div>
  <br>
  <div>Kilka uwag:</div>
  <div class="about-section">
    Prosimy mieć na uwadze, że Poliglotek jest aktualnie w fazie eksperymentalnej. Celem aplikacji jest dostarczenie
    przetłumaczego na polski tekstu zawartego na stronach znalezionych przez wyszukiwarę Google. Ponieważ niemożliwe
    jest przewidzenie struktury HTML wyszukanch stron, większość tłumaczeń będzie także zawierać fragmenty zbędnych
    treści. Obecnie jedno wyszukanie dostarcza maksymalnie cztery przetłumaczone strony. Może się jednak zdarzyć,
    że niektóre znalezione strony nie mogą zostać przetłumaczone ze względu na techniczne ograniczenia, na które
    niestety nie zawsze będziemy mieć wpływ. Prosimy o wyrozumiałość.
    Bardzo chętnie przyjmiemy wszelkie konstruktywne uwagi. Adres e-mail znajduje się na stronie "Kontakt".
  </div>
  <button mat-button (click)="openDisclaimerDialog()">Zastrzeżenie</button>
</div>
<router-outlet></router-outlet>
