@font-face {
  font-family: "WendyOne-Regular";
  src: url("/fonts/WendyOne-Regular.ttf") format("truetype");
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 96%;
  background: none;
  &-hamburger {
    width: 93%
  }
}

.mat-toolbar-single-row {
  padding: 0;
}

.right-menu {
  display: flex;
  &-item {
    color: var(--globalFontColour) !important;
    font-size: 0.75em;
    margin: 0 1.5rem;
    &--edge {
      margin-right: -0.75rem;
    }
  }
}

.hamburger {
  margin-right: -0.5rem;
}

.logo {
  margin-top: 0.625em;
  font-family: "WendyOne-Regular", serif;
  color: var(--globalFontColour);
  text-decoration: none;
  &-min599_98px {
    font-size: 3em;
  }
  &-_410_5px_599_5px {
    font-size: 2.5em;
  }
  &-_350px_410px {
    font-size: 2em;
  }
  &-max-349px {
    font-size: 1.75em;
  }
}

.hideMenu {
  display: none;
}

.showMenu {
  display: inline-block;
}
