.search-form {
  &-container {
    display: flex;
    width: 96%;
    margin: var(--formMarginTop) auto 0 auto; // --max916px
    &-column {
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      &_margin-top-modifier--600px_916px {
        margin-top: calc(var(--translationMargin2rem) * 1.65);
      }
      &_margin-top-modifier--410_5px_599_98px {
        margin-top: calc(var(--translationMargin2rem) * 1.35);
      }
      &_margin-top-modifier--350px_410px {
        margin-top: calc(var(--translationMargin2rem) * 1.05);
      }
      &_margin-top-modifier--max349px {
        margin-top: calc(var(--translationMargin2rem) * 0.85);
      }
    }
  }
  &--query-input-width {
    width: 24%;
  }
  &--field-width-max916px {
    width: 100% !important;
  }
}

.select {
  &-distance {
    margin-left: 0.375em;
    &--reset {
      margin-left: 0;
    }
  }
  &-width {
    width: 18%;
  }
}

.search-button {
  border-radius: var(--buttonRadius);
  margin-bottom: var(--search-button--margin-bottom);
  margin-top: 1.125em;
  margin-left: var(--translationMargin2rem);
  &--column-layout {
    margin-bottom: calc(var(--search-button--margin-bottom) * 4);
    margin-left: 0;
    width: 100%;
  }
}

.header-container {
  text-decoration: underline;
  text-decoration-color: #e0e2ec;
  text-decoration-thickness: 0.15em;
  display: flex;
  margin: 1.25em auto 0 auto;
  width: 96%
}

.tabs-container {
  margin-top: var(--translationMargin1_25em);
}

.translated-page-container {
  margin: var(--translationMargin2rem);
}

.spinner-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}

.source-url {
  margin-left: var(--translationMargin2rem);
}

.attribution-logo {
  display: block;
  margin-top: var(--translationMargin1_25em);
  margin-left: var(--translationMargin2rem);
  margin-bottom: var(--translationMargin1_25em);
}
