.header {
  margin-top: var(--translationMargin1-25em);
  margin-left: var(--translationMargin2rem);
  text-decoration: underline;
  text-decoration-color: #e0e2ec;
  text-decoration-thickness: 0.25em;
}

.search-form {
  &-container {
    display: flex;
    width: 100%;
    margin-top: var(--formMarginTop);
    margin-left: var(--translationMargin2rem);
    &--max916px {
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &--query-input-width {
    width: 24%;
  }
  &--field-width-max916px {
    width: 93% !important;
  }
}

.select {
  &-distance {
    margin-left: 0.375em;
    &--reset {
      margin-left: 0;
    }
  }
  &-width {
    width: 18%;
  }
}

.search-button {
  border-radius: var(--buttonRadius);
  margin-bottom: 0.1875em;
  margin-top: 1.125em;
  margin-left: var(--translationMargin2rem);
  &-reset-margin-left {
    margin-left: 0;
  }
}

.tabs-container {
  margin-top: var(--translationMargin1-25em);
}

.translated-page-container {
  margin: var(--translationMargin2rem);
}

.spinner-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}

.source-url {
  margin-left: var(--translationMargin2rem);
}

.attribution-logo {
  display: block;
  margin-top: var(--translationMargin1-25em);
  margin-left: var(--translationMargin2rem);
  margin-bottom: var(--translationMargin1-25em);
}
