:root {
  --globalAngularMainColour: #005cbb;
  --translationMargin2rem: 2rem;
  --translationMargin1-25em: 1.25em;
  --buttonRadius: 0.25em 0.25em 0 0;
  --formMarginTop: calc(var(--translationMargin2rem) * 2);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: #0e0f0c !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-select-panel {
  max-height: 40em !important;
}

.mat-mdc-option.mdc-list-item.dynamic-countries-border {
  border-left: 0.125em solid var(--globalAngularMainColour);
  border-right: 0.125em solid var(--globalAngularMainColour);
}

.mat-mdc-option.mdc-list-item.first-country-item {
  border-top: 0.125em solid var(--globalAngularMainColour);
}

.mat-mdc-option.mdc-list-item.last-country-item {
  border-bottom: 0.125em solid var(--globalAngularMainColour);
}
