:root {
  --transaltionPadding: 1em;
  --translationMarginTop: 1.25em;
  --angularMainColour: rgba(0, 92,187, 100%);
}

// default angular material settings
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// custom styles
.search-term-input-width {
  width: 24%;
}

.select {
  &-distance {
    margin-left: 0.375em; /* 6px */
  }
  &-width {
    width: 18%;
  }
}

.header {
  margin-top: var(--translationMarginTop);
  padding-left: var(--transaltionPadding);
  text-decoration: underline;
  text-decoration-color: #e0e2ec;
  text-decoration-thickness: 0.25em;
}

.tabs-container {
  margin-top: var(--translationMarginTop);
}

.btn {
  margin-left: 0.750em; /* 12px */
}

.transaltedPageContainer {
  padding: var(--transaltionPadding);
}

.source-url {
  padding-left: var(--transaltionPadding);
}

.mat-mdc-select-panel {
  max-height: 40em !important;
}

.mat-mdc-option.mdc-list-item.dynamic-countries-border {
  border-left: 0.125em solid var(--angularMainColour);
  border-right: 0.125em solid var(--angularMainColour);
}

.mat-mdc-option.mdc-list-item.first-country-item {
  border-top: 0.125em solid var(--angularMainColour);
}

.mat-mdc-option.mdc-list-item.last-country-item {
  border-bottom: 0.125em solid var(--angularMainColour);
}

.spinner-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}

.attribution-logo {
  display: block;
  margin-top: var(--translationMarginTop);
  padding-left: var(--transaltionPadding);
}
